.calender-block {
  padding-left: 0;
  padding-right: 0;
  direction: rtl;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    overflow-x: scroll;
  }
}

.user-calendar-activities {
  direction: ltr;

  .str-truncated {
    max-width: 70%;
  }

  .user-calendar-activities-loading {
    font-size: 24px;
  }
}

.user-calendar {
  text-align: center;

  .calendar {
    display: inline-block;
  }
}

.user-contrib-cell {
  &:hover {
    cursor: pointer;
    stroke: $black;
  }
}

.user-contrib-text {
  font-size: 12px;
  fill: $calendar-user-contrib-text;
}

.calendar-hint {
  margin-top: -23px;
  float: right;
  font-size: 12px;
}
